*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#legend,
#description {
  margin-bottom: 2rem;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
